<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>672948480231-f705opnm0d2g96dl3960f7i2hcjtki5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672948480231-f705opnm0d2g96dl3960f7i2hcjtki5q</string>
	<key>API_KEY</key>
	<string>AIzaSyCu28EXC0BIJj1jIQDBVa4ppvNR_qW_qDA</string>
	<key>GCM_SENDER_ID</key>
	<string>672948480231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Monash.sjy-restaurant</string>
	<key>PROJECT_ID</key>
	<string>assignment3b-ada53</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment3b-ada53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672948480231:ios:6aaf3c74c2bddaad</string>
	<key>DATABASE_URL</key>
	<string>https://assignment3b-ada53.firebaseio.com</string>
</dict>
</plist>